<p-tabs value="0" class="mt-3">
    <p-tablist>
        <p-tab value="0" class="text-sm">Sign In</p-tab>
        <p-tab value="1" class="text-sm">New Account</p-tab>
        <p-tab value="2" class="text-sm">Import Account</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-signin />
        </p-tabpanel>
  
        <p-tabpanel value="1">
            <app-signup />
        </p-tabpanel>
        
        <p-tabpanel value="2">
            <app-import />
        </p-tabpanel>
    </p-tabpanels>
  </p-tabs>