<div class="flex flex-column gap-3 w-50">
    <p-floatlabel variant="on" class="md:w-5 w-full">
        <input type="text" class="w-full" size="small" pInputText title="username" name="username" />
        <label for="username">username</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:w-5 w-full">
        <input type="password" class="w-full" size="small" pInputText title="password" name="password" />
        <label for="password">password</label>
    </p-floatlabel>

    <button type="submit" class="p-button md:w-5 w-full">Continue</button>
  </div>